.form-item-kayako-ticket-post {
    border-bottom: 1px solid #D3D7D9;
    font-family: Trebuchet;
    font-size: 20px;
    padding: 6px;
}

#textfields textarea{
    border: 1px solid #CCCCCC;
}

#textfields .grippie{
    height: 0px;
}

#textfields .form-wrapper{
    top: 0px;
    border: 0px;
}
